
/* Your CSS Code here. */
.holder{
	height:200px;
	width:200px;
	border:1px solid aquamarine;
	display:grid;
	grid-template-columns:repeat(2,100px);
	grid-template-rows:repeat(2,100px);
}

.item-1{
	background-color:red;
	
}
.item-2{
	background-color:green;
	
}

.item-3{
	background-color:blue;
}

.item-4{
	background-color:beige;
}



